    @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

    /* h1 {
        font-family: 'Chelsea Market' !important; 
        height: 10em;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    } */

    h3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span{
        color: rgb(248, 29, 29);
    }

    body {
        background : #fcb600 !important;
    }

    ul.hr {
        margin: 0; /* Обнуляем значение отступов */
        padding: 4px; /* Значение полей */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul.hr li {
        display: inline; /* Отображать как строчный элемент */
        margin-right: 5px; /* Отступ слева */
        padding: 3px; /* Поля вокруг текста */
    }

    .navbar-custom {
        background-color: #ffb151;
    }
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(0, 0, 0, 0.8);
        font-family: 'Chelsea Market' !important; 

    }
    #button {
        font-family: 'Chelsea Market' !important; 
        height: 5em;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        position: absolute;
        text-transform: uppercase;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        top: 20%;
        cursor: pointer;
        outline: 0 !important;

        animation: pulse 1s infinite alternate;
        transition: background 0.4s, border 0.2s, margin 0.2s;
    }
    #button:hover {
        animation: none;
    }
    #button:active {
        border-bottom-width: 0;
        margin-top: 5px;
    }
    @keyframes pulse {
        0% {
            margin-top: 0px;
        }
        100% {
            margin-top: 6px; 
        } 
    }

    #myCanvas{
        width: 80%;
    }
